<app-operation-header (onClose)="close()">Borrow {{token.symbol}}</app-operation-header>

<div class="body">
  <app-notification
    *ngIf="(canBorrow$ | async) === false"
    class="low-deposit"
    type="warning"
    title="You have not added a deposit!"
    message="To borrow {{ token.symbol }} you need to deposit ETH first."
  ></app-notification>

  <form>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Amount</mat-label>
      <input matInput type="text" name="amount" [(ngModel)]="borrowAmount">
      <div matTextSuffix>{{token.symbol}}</div>
    </mat-form-field>

    <div class="actions">
      <app-loading-button [loading]="loading$ | async" (onClick)="borrow()">
        Borrow
      </app-loading-button>
    </div>
  </form>
</div>
