<app-operation-header (onClose)="close()">Send {{ token ? token.symbol : 'ETH' }}</app-operation-header>

<div class="operation-body">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Recipient</mat-label>
      <input matInput type="text" formControlName="address">
    </mat-form-field>

    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Amount</mat-label>
      <div matTextSuffix>{{ token ? token.symbol : 'ETH' }}</div>
      <input matInput type="text" formControlName="amount">
      <mat-hint>Balance: {{(balance$ | async) | number: '.0-8'}} {{token?.symbol || 'ETH'}}</mat-hint>
    </mat-form-field>

    <mat-form-field *ngIf="!token" appearance="outline" floatLabel="always">
      <mat-label>Paymaster</mat-label>
      <mat-select formControlName="paymaster">
        <mat-option *ngFor="let paymaster of paymasters" [value]="paymaster.address">{{paymaster.title}}</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-actions">
      <app-loading-button [disabled]="form.invalid" [loading]="loading$ | async" (onClick)="send()">
        Send
      </app-loading-button>
    </div>
  </form>
</div>
