<div class="asset">
  <app-operation-header (onClose)="close()">
    {{token.symbol}}
  </app-operation-header>

  <div class="asset-details">
    <img [src]="token.icon" alt="">
    <h1>{{(balance$ | async) | number: '.0-6'}} {{token.symbol}}</h1>
  </div>
</div>

<div class="asset-container">
  <app-asset-operations
    class="asset-operations"
    [asset]="token" view="centered"
    (processed)="refreshData()"
  ></app-asset-operations>

  <mat-tab-group>
    <mat-tab *ngFor="let operation of token.operations" [label]="operation"></mat-tab>
  </mat-tab-group>
</div>
